<h2 class="page-header"> Recently added</h2>

<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id  %>">
            <img height="375" width="250" src="<%= book.coverImagePath %>">
        </a>
        
    <% }) %>  
</div>